*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

li a {
  text-decoration: none;
}

h1 {
  font-family: Montserrat;
  font-size: 4.5rem;
  font-weight: 700;
}

h3 {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 400;
}

a {
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 400;
  color: #72a4d4;
}

.nav-links li a:hover {
  color: #fcfdfe;
  transition: 0.5s;
  text-decoration: underline;
}

main h1 {
  cursor: default;
}
main .h1-wrapper:hover span {
  color: #3a7ebf;
  transition: 0.5s;
}

.nav-wrapper {
  opacity: 0.95;
  width: 100%;
  background-color: lightgray;
  overflow: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.main-nav {
  width: 75%;
  position: relative;
}

img[alt=nav-logo] {
  height: 80px;
  width: 250px;
}

.nav-links {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 40%;
}
.nav-links li {
  display: inline-flex;
  margin: 15px;
}

.footer-logo {
  background-image: url(https://ibiblioteka.lt/metis/assets/img/kla-logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-container, .main-nav {
  width: 75%;
  margin: 0 auto;
}

.bg-img-wrapper {
  background-image: url(../img/index-bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

main h1 {
  padding-top: 200px;
  text-align: center;
  color: #e8f4f8;
}
main form {
  margin-top: 100px;
}
main form input {
  width: 40%;
  height: 40px;
  background-color: #e8f4f8;
  border: 1px solid gray;
  border-radius: 3px;
}
main form input:focus {
  border: 5px solid gray;
}
main form ::-moz-placeholder {
  color: #72a4d4;
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 400;
}
main form :-ms-input-placeholder {
  color: #72a4d4;
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 400;
}
main form ::placeholder {
  color: #72a4d4;
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 400;
}
main form .search-btn {
  border: 1px solid gray;
  border-radius: 3px;
  height: 40px;
  width: 150px;
  background-color: #0a7fef;
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 400;
}
main form .search-btn:hover {
  border: 1px solid white;
  transition: 0.7s;
  color: #e8f4f8;
}/*# sourceMappingURL=main.css.map */