.nav-wrapper
    opacity: 0.9
    width: 100%
    background-color: lightgray
    overflow: hidden
.sticky
    position: fixed
    top: 0
    width: 100%
.main-nav
    width: 75%
img[alt="nav-logo"]
    height: 80px
    width: 250px
.nav-links
    float: right
    li
        display: inline-block
