main
    .h1-wrapper
        padding-top: 200px
    form
        margin-top: 100px
        input[type="text"]
            width: 55%
            height: 40px
            background-color: #e8f4f8
            border: 1px solid gray
            border-radius: 3px
        input[type="text"]:focus, select[name="book-types"]:focus
            border: 5px solid gray
            transition: 0.3s
        input[type="text"]:focus::placeholder
            color: black
            transition: 0.5s
        input[type="text"]:hover, select[name="book-types"]:hover
            border: 2px solid gray
            transition: 0.5s
        select[name="book-types"], .search-btn
            height: 40px
            width: 150px
            border: 1px solid gray
            border-radius: 3px
            vertical-align: middle
            margin-left: 5px
        .search-btn
            background-color: #0a7fef
        .search-btn:hover
            border: 1px solid white
            transition: 0.7s
            color: #e8f4f8
        .search-wrapper
            width: 70%
            margin: 0 auto
    legend
        margin: 75px
    .index-btn-wrapper
        margin: 40px auto
        .about-btn
            padding: 5px
            background-color: #774ef8
            border-radius: 10px
            display: block
            width: 220px
            margin: 0 auto
            text-align: center
            text-decoration: none
            color: black
        .about-btn:hover
            transition: 0.7s
            border: 1px solid white
            color: white
        #btn-top
            background-color: #ff3333
            color: black
            font-weight: $f-wt-400
            padding: 10px
            position: fixed
            bottom: 20px
            right: 30px
            z-index: 99
            border: none
            outline: none
            border: 1px solid white
            border-radius: 7px
        #btn-top:hover
            color: white
            transition: 0.9s
